.tile {
    width: 2rem;
    height: 2rem;
    border: 1px solid #3a3a3c;

    margin: .09rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.tile-locked-correct {
    background-color: #538d4e;
    border: 1px solid #3a3a3c;
}

.tile-locked-misplaced {
    background-color: #d9a34a;
    border: 1px solid #3a3a3c;
}

.tile-locked {
    background-color: #3a3a3c;
    border: 1px solid #3a3a3c;
}