.tile {
    width: 3.6rem;
    height: 3.6rem;
    border: 2px solid #3a3a3c;

    margin: .18rem;

    display: flex;
    justify-content: center;
    align-items: center;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tile > p {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;

    transform: translateY(-3px);
}

.tile-filled {
    border: 2px solid #565758;
}

.tile-locked-correct {
    background-color: #538d4e;
    border: 2px solid #538d4e;
}

.tile-locked-misplaced {
    background-color: #b59f3b;
    border: 2px solid #b59f3b;
}

.tile-locked {
    background-color: #3a3a3c;
    border: 2px solid #3a3a3c;
}